@font-face {
    font-family: Caponee;
    src: url(../media/Fonts/Caponee.woff2);
}

@font-face {
    font-family: Editorial;
    src: url(../media/Fonts/Editorial.woff2);
}

@font-face {
    font-family: Domain;
    src: url(../media/Fonts/Domain.woff2);
}